body {
background-color: #000;
font-family: Helvetica;
color: #FFF;
}

a {
text-decoration: none;
color: #FFF;
}

table.tcTable {
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
border: 4px solid #1c4c16;
padding: 8px;
margin: 15px;
float: left;
width: 31%;
}

div.projectName a.buildTypeName {
text-shadow: 1px 1px 2px #000;
font-weight: bold;
font-size: 1.5em;
text-transform: uppercase;
}

td.buildConfigurationName a.buildTypeName,
.buildDate {
font-weight: normal;
font-size: 0.9em;
color: #bbb;
}

td.buildConfigurationName img,
td.buildResults,
div.teamCityBuildNumber {
display:none;
}

.buildSuccess {background: #407A39;}
.buildFailure {background: #AF0E01;}
.buildUnknown {background: #747474;}
